<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/6/1 21:42 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<style>
    #footer {
        height: 100px;
        line-height: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
    }
</style>
<div id="footer">
    <center>
        <p>Copyright © 2020. All Rights Reserved
            <a href="//www.yapei.cool" style="text-decoration:none;">
                yapei.cool
            </a>
        </p>
        <p> <span><img src="/static/beian/beianicon.png">
<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41152802000105"
   style="color:#939393;text-decoration:none;">
豫公网安备 41152802000105号</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="http://www.beian.miit.gov.cn/" target="_blank" style="color:#939393;text-decoration:none;">
                豫ICP备20015449号
            </a>
        </p>
    </center>
</div>
</body>
</html>