<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyp.myweixin.mapper.qubaoming.QubaomingActiveConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hyp.myweixin.pojo.qubaoming.model.QubaomingActiveConfig" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="active_base_id" property="activeId" jdbcType="INTEGER" />
    <result column="active_type" property="activeType" jdbcType="INTEGER"/>
    <result column="active_address" property="activeAddress" jdbcType="VARCHAR" />
    <result column="active_start_time" property="activeStartTime" jdbcType="BIGINT" />
    <result column="active_end_time" property="activeEndTime" jdbcType="BIGINT" />
    <result column="sign_up_start_time" property="signUpStartTime" jdbcType="BIGINT" />
    <result column="sign_up_end_time" property="signUpEndTime" jdbcType="BIGINT" />
    <result column="active_join_num_max" property="activeJoinNumMax" jdbcType="INTEGER" />
    <result column="active_require_option" property="activeRequireOption" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="VARCHAR" />
  </resultMap>
</mapper>