<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyp.myweixin.mapper.WeixinVoteBaseMapper" >
  <resultMap id="BaseResultMap" type="com.hyp.myweixin.pojo.modal.WeixinVoteBase" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="active_img" property="activeImg" jdbcType="VARCHAR" />
    <result column="active_name" property="activeName" jdbcType="VARCHAR" />
    <result column="active_desc" property="activeDesc" jdbcType="VARCHAR" />
    <result column="active_desc_img" property="activeDescImg" jdbcType="VARCHAR" />
    <result column="active_reward" property="activeReward" jdbcType="VARCHAR" />
    <result column="active_reward_img" property="activeRewardImg" jdbcType="VARCHAR" />
    <result column="active_start_time" property="activeStartTime" jdbcType="TIMESTAMP" />
    <result column="active_end_time" property="activeEndTime" jdbcType="TIMESTAMP" />
    <result column="active_public" property="activePublic" jdbcType="INTEGER" />
    <result column="active_show_order" property="activeShowOrder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_sys_user_id" property="createSysUserId" jdbcType="INTEGER" />
    <result column="view_count_num" property="viewCountNum" jdbcType="INTEGER" />
  </resultMap>
</mapper>