<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyp.myweixin.mapper.WeixinVoteUserWorkMapper">
    <resultMap id="BaseResultMap" type="com.hyp.myweixin.pojo.modal.WeixinVoteUserWork">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="work_id" property="workId" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="BIGINT"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="ext1" property="ext1" jdbcType="VARCHAR"/>
        <result column="ext2" property="ext2" jdbcType="VARCHAR"/>
        <result column="ext3" property="ext3" jdbcType="VARCHAR"/>
        <result column="ext4" property="ext4" jdbcType="VARCHAR"/>
        <result column="ext5" property="ext5" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getWeixinVoteUserWorkNumByOpenIdTime" resultType="java.lang.Integer">
        select count(*) from weixin_vote_base wvb
        left join weixin_vote_work wvw on wvb.id = wvw.active_vote_base_id
        left join weixin_vote_user_work wvuw on wvw.id = wvuw.work_id
        where wvb.id = #{baseId}
        and wvuw.open_id = #{openId}
        <if test='workId!=null'>
            and wvuw.work_id= #{workId}
        </if>
        and wvuw.create_time
        between #{startTime}
        and #{endTime}
    </select>


    <!--好像我又不是很需要了-->
    <resultMap id="userJoinActiveNumModal" type="com.hyp.myweixin.pojo.modal.daomodal.UserJoinActiveNumModal">
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="work_id" property="workId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getUserVoteWorkId" resultType="java.lang.Integer">
        select
        <if test='distinctUserWorkId==true'>
            distinct
        </if>
        work_id
        from
        weixin_vote_user_work
        where
        open_id = #{openId}
        order by create_time desc
    </select>


</mapper>