<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyp.myweixin.mapper.WeixinResourceConfigMapper">
  <resultMap id="BaseResultMap" type="com.hyp.myweixin.pojo.dto.WeixinResourceConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>